@import "themes.scss";

$page-width: 840px;
$page-width--mobile: 500px;

html {
  font-family: "JetBrains Mono", monospace;
  font-size: 1em;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  transition: all 0.2s ease;
}

legend {
  color: var(--green);
  font-size: 1.1em;
  font-weight: bold;
}

fieldset {
  border: 1px solid var(--border);
  box-sizing: border-box;
  margin: 0 10px;
  padding: 3px 10px;
}

h1 {
  font-size: 30px;
  margin: 0 0 3px;
  text-align: center;
}

i {
  width: 25px;
  text-align: center;
}

.tagline {
  text-align: center;
}

.main-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

/* Info content */
.info-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Portfolio content */
.portfolio-container {
  box-sizing: border-box;
}

.portfolio {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.portfolio-item {
  font-size: 15px;
  margin-bottom: 5px;
  flex-grow: 1;
  max-width: 500px;
}

.portfolio-item > div:first-of-type {
  margin-bottom: 12px;
}

/* Theme switcher */
.theme-switch {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 999;
}

.theme-switch button {
  font-size: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  transition: all 0.2s ease;
}

/* Footer content */
footer {
  background-color: var(--bg-secondary);
  color: var(--fg-secondary);
  min-height: 20px;
  width: 100%;
  bottom: 0;
  padding: 8px 0;
  margin-top: 25px;
}

.footer-container {
  max-width: $page-width;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-right a {
    color: var(--gray);
    border-bottom-color: var(--gray);

    &:hover {
      color: inherit;
      border-bottom-color: inherit;
    }
  }
}

a {
  text-decoration: none;
  border-bottom: 1px dashed var(--fg-secondary);
}

.link-split {
  border-bottom: none;
  span {
    display: inline-block;
    border-bottom: 1px dashed var(--fg-secondary);
  }
}

.link-split:hover {
  border-bottom: none;
  span {
    border-bottom: 1px dashed var(--teal);
  }
}

a:link,
a:visited {
  color: var(--fg-primary);
}

a:hover {
  color: var(--teal);
  border-bottom: 1px dashed var(--teal);
}

.footer-break {
  display: none;
}

// mobile
@media only screen and (max-width: 700px) {
  .main-container,
  .footer-container {
    flex-direction: column;
  }

  .info-container,
  .footer-container {
    width: 100%;
  }

  .portfolio-container {
    width: 100%;
    padding: 20px 0;
  }

  .portfolio-item {
    max-width: 100%;
  }

  .theme-switch {
    top: 5px;
    right: 5px;
  }

  footer {
    text-align: center;
    margin-top: 10px;
  }

  .footer-break {
    display: inline;
  }
  // make it center
  .footer-right {
    padding: 5px 0;
    justify-content: center;
  }
}
